@import "tailwindcss";

@theme {
  --color-imperio-gold: #D4AF37;
  --color-imperio-goldLight: #F3C848;
  --color-imperio-black: #0a0a0a;
  --color-imperio-gray: #1F1F1F;
  
  --font-display: "Montserrat", sans-serif; /* Vamos usar depois */
}